---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swift Dec - Weekly Micro Blogs</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="styles/responsive-grid.css">
  <link rel="stylesheet" href="styles/index.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Playball|Playfair+Display:700|Rock+Salt&display=swap"" rel="stylesheet">
  {% include global-metadata.html %}
</head>

<body>
  {% include header.html %}
  <main class="responsive-grid container">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="responsive-grid__item article-item">
      <img class="article-item__image" alt="Checkbox" src="{{ post.icon-url }}" />
      <h2 class="article-item__title">{{ post.title }}</h2>
      <time class="article-item__publication-date" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
    </a>
    {% endfor %}
  </main>
</body>

</html>
