* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  margin-top: 0;
}

h3 {
  text-decoration: underline;
  font-size: 1.9rem;
}

article h1 {
  font-size: 2.9rem;
  margin-bottom: 1.3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid tomato;
}

header address {
  display: inline;
}

article h2, article h3 {
  margin-bottom: 0.6rem;
}

article h4, article h5 {
  margin-bottom: 0.16rem;
}

p, ul, blockquote {
  display: block;
  margin-bottom: 2.4rem;
}

ul, ol {
  margin-left: 1.2rem;
  text-align: left;
}

.home-banner {
  background-color: tomato;
  color: white;
  text-align: center;
  padding: 1rem 0px;
  width: 100%;
}

.blog-title {
  font-family: "Playball", cursive;
  font-size: 6.4rem;
  margin-bottom: 1rem;
}

.blog-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.blog-post-list {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.blog-article {
  font-size: 1.8rem;
  max-width: 800px;
}

.blog-post {
  width: 100%;
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  grid-template-columns: 90px auto;
  grid-template-rows: auto 24px;
  column-gap: 20px;
  text-decoration: none;
}

.blog-post-image {
  grid-column: 1;
  grid-row: 1 / span 2;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.blog-post-title {
  font-family: "Playfair Display", serif;
  letter-spacing: .5px;
  grid-column: 2;
  grid-row: 1;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.blog-post time {
  grid-column: 2;
  grid-row: 2;
  font-size: 11px;
  line-height: 18px;
  color: gray;
}

.date-stamp {
  color: gray;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
}
.date-stamp a {
  text-decoration: none;
  color: gray;
  font-style: normal;
}

figure {
  margin-bottom: 3.2rem;
}

figcaption {
  font-weight: bold;
  font-size: 1.4rem;
  color: grey;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style: italic;
  padding-left: 1.6rem;
  border-left: 0.32rem solid tomato;
  font-weight: 100;
  color: darkslategrey;
}
blockquote footer {
  color: tomato;
  font-weight: 700;
  font-size: 1.12rem;
  margin-top: 1em;
}

.container pre {
  width: calc(100% - 10px);
  margin-left: auto;
  margin-right: auto;
  font-size: 2.45vw;
}

/* IPads */
@media only screen and (min-width: 640px) and (max-width: 960px) {
    .blog-post {
      width: calc(50% - 20px);
    }
}

/* Low res desktops/laptops and iPad Pros */
@media only screen and (min-width: 961px) and (max-width: 1200px) {

  .blog-post {
    width: calc(33.5% - 40px);
  }
}

/* High res desktops */
@media only screen and (min-width: 1201px) {

  .container {
    width: 1200px;
  }

  .blog-post {
    width: calc(33.5% - 40px);
  }
}

@media only screen and (min-width: 820px) {
  .container pre {
    font-size: 22px;
  }
}
