* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke
  line-height: 1.8em;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
}

article h1, article h2 {
  display: block;
  text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

p, ul, blockquote {
  display: block;
  margin-bottom: 1.5em;
}

.container pre {
  width: 100%;
}

ul, ol {
  margin-left: 0.75em;
  text-align: left;
}

.home-banner {
  background-color: tomato;
  color: white;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

.blog-title {
  font-family: "Playball", cursive;
  font-size: 64px;
  margin-bottom: 10px;
}

.blog-description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.blog-post-list {
  width: 100%;
  padding-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post {
  width: 100%;
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  grid-template-columns: 90px auto;
  grid-template-rows: auto 24px;
  column-gap: 20px;
}

.blog-post-image {
  grid-column: 1;
  grid-row: 1 / span 2;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.blog-post-title {
  font-family: "Playfair Display", serif;
  letter-spacing: .5px;
  grid-column: 2;
  grid-row: 1;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.blog-post, time {
  grid-column: 2;
  grid-row: 2;
  font-size: 11px;
  line-height: 18px;
  color: gray;
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 0.2em solid tomato;
  font-weight: 100;
  color: darkslategrey;
}
blockquote footer {
  color: tomato;
  font-weight: 700;
  font-size: 0.7em;
  margin-top: 1em;
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
    .blog-post {
      width: calc(50% - 20px);
    }
}

@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .blog-post {
    width: calc(33.5% - 40px);
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    width: 1200px;
  }

  .blog-post {
    width: calc(33.5% - 40px);
  }
}
