<pre class="splash"><code><span class="keyword">func</span> testAddMonths() {
    <span class="keyword">let</span> may31 = <span class="type">SwiftyDate</span>(day: <span class="number">31</span>, month: <span class="number">5</span>, year: <span class="number">2019</span>)

    <span class="keyword">let</span> addMonthResult = may31.<span class="call">addMonths</span>(<span class="number">1</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult.<span class="property">day</span>, <span class="number">30</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult.<span class="property">month</span>, <span class="number">6</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult.<span class="property">year</span>, <span class="number">2019</span>)

    <span class="keyword">let</span> addMonthResult2 = may31.<span class="call">addMonth</span>(<span class="number">2</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult2.<span class="property">day</span>, <span class="number">31</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult2.<span class="property">month</span>, <span class="number">7</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult2.<span class="property">year</span>, <span class="number">2019</span>)

    <span class="keyword">let</span> june30 = <span class="type">SwiftyDate</span>(day: <span class="number">30</span>, month: <span class="number">6</span>, year: <span class="number">2019</span>)
    <span class="keyword">let</span> addMonthResult3 = june30.<span class="call">addMonths</span>(<span class="number">1</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult3.<span class="property">day</span>, <span class="number">30</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult3.<span class="property">month</span>, <span class="number">7</span>)
    <span class="call">XCTAssertEqual</span>(addMonthResult3.<span class="property">year</span>, <span class="number">2019</span>)
}
</code></pre>
