<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Unit Testing</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/article.css">
  <link rel="stylesheet" href="../styles/swift-code-snippet.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Playball|Playfair+Display:700" rel="stylesheet">
</head>

<body>
  <header class="site-header">
    <a href="index.html">
      <h1 class="logo">Swifty</h1>
    </a>
    <h2 class="site-header--description">Weekly swift articles covering actual useful skills with short concise posts</h2>
  </header>

  <article class="container blog-article">
    <header>
      <div class="date-stamp">
        <time>{{ page.date }}</time> -
        <address class="author"><a rel="author" href="">{{ page.author }}</a></address>
      </div>
      <h1>{{ page.title }}</h1>
    </header>
    {{ content }}
  </article>
</body>

</html>
