<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/article.css">
  <link rel="stylesheet" href="/styles/swift-code-snippet.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Playball|Playfair+Display:700|Rock+Salt&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  {% include header.html %}
  <article class="container blog-article">
    <header>
      <div class="date-stamp">
        <time>{{ page.date | date_to_string }}</time> -
        <address class="author"><a rel="author" href="">{{ page.author }}</a></address>
      </div>
      <h1>{{ page.title }}</h1>
    </header>
    {{ content }}
  </article>
</body>

</html>
